

.home_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 4em;
}

.home_container h1 {
  align-self: center;
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 106px;
  color: #4169E1;
}

.home_container p {
  align-self: center;
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 20px;
  color: #4169E1;
}

.home_container img {
  align-self: center;
  max-width: 225px;
}
