* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body, #root {
  background-color: #C4C4C4;
  height: 100%;
}

#home {
  background-image: url("../src/components/pages/img/fundo.jpg");
}